
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>BOOKS</title>
</head>
<body>
<div align="center">
    <h1> LIST BOOKS</h1>
    <input style="margin-top:-50px" type="button" value="ADD NEW BOOK" onclick="location.href='addNewBook.do'" />
    <br/><br/>
<table class="books" border="1" cellpadding="4" cellspacing="2" width="50%" align="center"
       style=" table-layout: fixed;background-color:burlywood">
    <tr>

        <th align="center" style="width: 30px"> ID</th>
        <th align="center"> NAME</th>
        <th align="center"> AUTHOR</th>
        <th align="center"> PRICE</th>
    </tr>
    <!--/*@thymesVar id="listBooks" type=""*/-->
    <tr th:each="book:${listBooks}">
        <td align="center"  ><a th:href="@{/viewBook(id=${book.getId()})}" th:text="${book.id}"> ID</a></td>
        <td th:text="${book.name}">NAME </td>
        <td th:text="${book.author}">AUTHOR</td>
        <td th:text="${book.price}"> PRICE</td>
    </tr>
</table>
</div>


</body>
</html>